/*
!.vscode
!/controllers
!/scripts
!/server
!/src
!/styles
!/tmp
!/views
!.dockerignore
!.ejsbrc.json
!.env.example
!.gitignore
!.prettierignore
!.prettierrc
!docker-compose.debug.yml
!docker-compose.yml
!Dockerfile
!git-commit-push-all.sh
!index.d.ts
!LICENSE
!.meta
!package.json
!postcss.config.js
!README.md
!server1.js
!site.config.js
!start.ts
!tailwind.config.js
!tsconfig.json
!tsconfig.app.json
!tsconfig.server.json