<ul>
  <li style="display:inline-block; margin-left:1rem"><a href="/">Home</a></li>
  <li style="display:inline-block; margin-left:1rem"><a href="/feed/">Feed</a></li>
  <li style="display:inline-block; margin-left:1rem"><a href="/about/">About</a></li>
</ul>
<hr>