<!--{#context src="./layouts/default.controller" /}-->
<!DOCTYPE html>
<html>
<head>
  <title><!--{title}--></title>
  <link href="/tailwind.bundle.css" rel="stylesheet">
</head>
<body>
<?- include('share/views/module-loader-init'); ?>
<h1 class="text-cyan-500">Test</h1>
  <script type="text/javascript">
    moduleQLevel2.push("https://unpkg.com/htmx.org@1.7.0");
    moduleQLevel3.push("https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js");

  </script>
<?- include('share/views/menu'); ?>

<?- body ?>

<?- include('share/views/module-loader-queue'); ?>
</body>
</html>
